.card-body, .card-title {
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Piazzolla', serif;
}

.navbar {
    padding: .5rem;
    background: #ff944d;
}

.navbar-brand {
    padding-top: 15px;
    font-family: 'Kumar One', cursive;
    font-size: 150%;
}

.navbar-nav li {
    padding-right: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(14, 10, 10);
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.nav-link {
    font-size: 1.1em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: green
}

.carousel-inner img {
    width: 100%;
    height: 92vh;
}

.carousel-caption h6 {
    padding-top: 40%;
    font-size: 200%;
    font-family: 'Parisienne', cursive;
    color: rgb(255, 196, 0);
 }

.carousel-caption h5 {
    font-size: 200%;
    font-family: 'Secular One', sans-serif;
}

.carousel-caption h3 {
    font-size: 2rem;
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
}

.carousel-caption .caption-img1 img {
    height: 95%;
}

.carousel-caption .caption-top {
    padding-top: 10%;
}

.carousel-caption .caption-img2 img {
    padding-top: 10%;

}

.btn-primary:hover {
    background-color: yellow;
    border: 1px solid rgb(139, 139, 3);
    color: black;
}

.btn-primary {
    background-color: green;
    border: 1px solid green;
    font-family: 'Secular One', sans-serif;
    color: white;
}

.jumbotron {
    padding: 16px;
    border-radius: 0;
}

.padding {
    padding-bottom: 32px;
}

.pizza {
    width: 50%;
    color: black;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-google-plus-g:hover {
    color: gray;
}

.card {
    background: url(../images/bg5.jpg);
    background-size: cover;
    background-position: center;
}

.build hr {
    border-top: 1px solid #0c0b0b;
}

.card-body {
    font-family: 'Secular One', sans-serif;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 32px;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

hr.lightB {
    border-top: 1px solid #d5d5d5;
    width: 90%;
}

.text-center h5 {
    font-family: 'Secular One', sans-serif;
}

.text-center .logo {
    font-size: 400%;
}

.boom hr {
    border-top: 1px solid black;
}

/* MEDIA QUERIE */

@media screen and (max-width:992px) {
    .social a {
        font-size: 60px;
        padding: 30px;
    }
}

@media screen and (max-width:768px) {
    .carousel-inner img {
        height: 50vh;
    }
    .carousel-caption {
        top: 10%;
    }
    .carousel-caption h6 {
        font-size: 200%;
    }
    .carousel-caption h5 {
        font-size: 200%;
    }
    .carousel-caption h3 {
        font-size: 1.5rem;
    }
    .carousel-caption .caption-img1 img {
        height: 350px;
    }
    .carousel-caption .caption-img2 img {
        height: 400px;
    }
    .display-4 {
        font-size: 200%;
    }
    .social a {
        font-size: 40px;
        padding: 33px;
    }
    .jumbotron .btn {
        margin-top: 25%;
        background-color: gray;
        color: black;
    }
}

@media screen and (max-width:576px) {
  
    .carousel-inner img {
        height: 40vh;
    }
    .carousel-caption {
        top: 0%;
    }
    .carousel-caption h6 {
        padding-top: 10%;
        font-size: 100%;
    }
    .carousel-caption h3 {
        font-size: 1rem;
    }
    .carousel-caption h5 {
        font-size: 100%;
    }
    .carousel-caption .btn-primary {
        font-size: 50%;
    }
    .carousel-caption .caption-img1 img {
        height: 200px;
        width: 200px;
        padding-top: 1%;
    }
    .carousel-caption .caption-img2 img {
        height: 300px;
        width: 250px;
        padding-top: 0
    }
    .display-4 {
        font-size: 200%;
    }
    .social a {
        font-size: 40px;
        padding: 33px;
    }
    .carousel-indicators {
        display: none;
    }
}

#option {
    display: none;
}

#big {
    display: none;
}


.modal-body {
    font-family: 'Abril Fatface', cursive;
}

.modal-body h6 {
    font-family: 'Anton', sans-serif;
    color: green;
}

.modal-body p {
    font-family: 'Abril Fatface', cursive;
    color: rgb(1, 80, 1);
}

.list-group-item {
    font-family: 'Piazzolla', serif;
    color: black;
    font-weight: 700;
}
.list-group{
    display: none;
}